<div class='comment'>
  <p>
    <strong>
      <%= link_to comment.author.username, user_url(comment.author) %>
    </strong>
    (<%= time_ago_in_words(comment.created_at) %> ago)
  </p>
  <p><%= comment.content %></p>
  
  <%= link_to "Post Reply", comment_url(comment) %>
   
  <ul>
    <% comment.child_comments.each do |child| %>
      <%= render 'comments/comment', comment: child %>
    <% end %>
  </ul>
  
</div>