<% rendered_comments = comments_hash[comment.id] %>

<div class='comment'>
  <p>
    <strong>
      <%= link_to comment.author.username, user_url(comment.author) %>
    </strong>
    (<%= time_ago_in_words(comment.created_at) %> ago)
  </p>
  <p><%= comment.content %></p>
  <%= link_to "Post Reply", comment_url(comment) %>
  
  <ul class="nobullet">
    <% rendered_comments.each do |rendered_comment| %>
      <li>
        <%= render(
          partial: 'comments/comment',
          locals: {
            comment: rendered_comment,
            comments_hash: comments_hash
          }
        ) %>
      </li>
    <% end %>
  </ul>
</div>