<% action = sub.persisted? ? sub_url(sub) : subs_url %>
<% method = sub.persisted? ? 'PATCH' : 'POST' %>
<% button_text = sub.persisted? ? "Commit Changes" : "Create Sub" %>

<form class='subs-form' action="<%= action %>", method='POST'>
  <input type='hidden', name='_method', value='<%= method %>'>
  
  <%= auth_token %>

  <label for='title'>Sub Title</label>
  <input type="text", 
         name="sub[title]", 
         id="title",
         value='<%= sub.title %>'></input>
         
  <label for='description'>Description</label>
  <textarea name='sub[description]' 
            id="description",
            rows="10",
            cols="50"><%= sub.description %></textarea>

  <input class='button' type='submit', value="<%= button_text %>">
</form>