<h1><%= link_to @post.sub.title, sub_url(@post.sub) %></h1>
<h3><%= @post.title %></h3>
<%= link_to @post.url, @post.url %>
<div><pre><%= @post.content %></pre></div>

<ul>
  <% @post.top_level_comments.each do |comment| %>
    <li><%= render 'comments/comment', comment: comment %></li>
  <% end %>
</ul>

<br><br>
<% if logged_in? %>
  <%= button_to "Post Comment", new_post_comment_url(@post), method: :get %>
  <% if @post.is_author?(current_user) %>
    <%= button_to "Edit Post", edit_post_url(@post), method: :get %>
  <% end %>
<% end %>