<h1><%= link_to @post.sub.title, sub_url(@post.sub) %></h1>
<h3><%= link_to @post.title, @post.url %></h3>
submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= link_to @post.author.username, user_url(@post.author) %>
<div><pre><%= @post.content %></pre></div>

<% @post.top_level_comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>

<br><br>
<% if logged_in? %>
  <%= button_to "Post Comment", new_post_comment_url(@post), method: :get %>
  <% if @post.is_author?(current_user) %>
    <%= button_to "Edit Post", edit_post_url(@post), method: :get %>
  <% end %>
<% end %>