<!DOCTYPE html>
<html>
<head>
  <title>Saidit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class='background-fade'>

<div class='header'>
  <%= render 'layouts/top_menu' %>
</div>

<%= render 'layouts/login_status' %>
  
<% if flash[:notice] %>
  <%= render 'layouts/notice' %>
<% end %>

<% if flash[:errors] %>
  <%= render 'layouts/errors' %>
<% end %>

<%= yield %>

  </div>
</body>
</html>
